<!-- =====  CONTACT START  ===== -->
<section id="contact" class="ptb_100">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb_20 col-md-offset-3 text-center">
				<div class="heading-part ">
					<h2 class="main_title mb_20">Get In Touch</h2>
					<p>We're always looking for volunteers with fresh ideas.</p>
				</div>
			</div>
		</div>
		<!-- contact  -->
		<div class="row">
			<div class="col-md-12 col-xs-12 contact-form">
				<!-- Contact FORM -->
				<div id="contact_form">
					<form id="contact_body" method="post" action="https://formspree.io/opendenton@gmail.com">
						<div class="col-md-6 col-xs-12">
							<input class="full-with-form mt_30" type="text" name="name" placeholder="Name" data-required="true" />
						</div>
						<div class="col-md-6 col-xs-12">
							<input class="full-with-form mt_30" type="email" name="email" placeholder="Email Address" data-required="true" />
						</div>
						<div class="col-md-6 col-xs-12">
							<input class="full-with-form mt_30" type="text" name="phone1" placeholder="Phone Number" maxlength="15" data-required="true" />
						</div>
						<div class="col-md-6 col-xs-12">
							<input class="full-with-form mt_30" type="text" name="subject" placeholder="Subject" data-required="true">
						</div>
						<div class="col-xs-12">
							<textarea class="full-with-form mt_30" name="message" placeholder="Message" data-required="true"></textarea>
						</div>
						<button class="custom-btn custom-btns mt_60" type="submit" tar><span>Send Message</span></button>
					</form>
					<div id="contact_results"></div>
				</div>
				<!-- END Contact FORM -->
			</div>
		</div>
	</div>
</section>
    <!-- =====  CONTACT END  ===== -->